



<h1 class="display-2 text-center">Welcome to The Store</h1>

<br />




    <div class="col-lg-11">
      

      <div class="row">
        <% items.forEach((item)=>{%>
        <div class="col-lg-4 col-md-6 mb-4">
          
          <div class="card h-100">
            
            <a href="/category/<%= item.category %>/items/<%= item.id %>"
              ><img
                class="card-img-top"
                src="<%= item.image %>"
                alt="item image"
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/category/<%= item.category %>/items/<%= item.id %>"><%=item.name%></a>
              </h4>
              <h5><%=item.price%>$</h5>
              <p class="card-text">
                <%=item.description%>
              </p>
            </div>
            <div class="card-footer">
              <a href="/add/<%= item.id %>"class="btn btn-primary" 
                > add to cart</a
              >
            </div>
          </div>
          
        </div>
        <%})%>
        


        

       

        
      </div>
      
    </div>
    
  </div>
  
</div>







