<div class="center">
<% item.forEach((item)=>{%>
    <div class="col-lg-11">
      <div class="card mt-4">
        <img
          class="card-img-top img-fluid"
          src="<%= item.image %>"
          alt=""
        />
        <div class="card-body">
          <h3 class="card-title"><%=item.name%></h3>
          <h4 class="h2"><%=item.price%>₹</h4>
          <p class="card-text">
            <span class="font-weight-bold h3">Description:</span>
            <br/>
            <div class="h4">
            <%=item.description%></div>
          </p>
          
          
        </div>
      </div>
      

      <div class="card-footer">
        <a href="/add/<%= item.id %>"class="btn btn-primary
          "
                >add to cart</a
              >
      </div>
      
    </div>
    
  </div>
</div>


<%})%>

</div>